FacturaFactoring/FacturaFactoring/Web References/Mail/EnvioMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WS_MailServerTransporte/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WS_MailServerTransporte/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WS_MailServerTransporte/">
      <s:element name="Enviar_Correo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DesdeCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DesdeNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cuerpo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EsHtml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubJect" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Archivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinatariosPara" type="tns:ArrayOfEntrada" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinatariosCopia" type="tns:ArrayOfEntrada" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinatariosCopiaOculta" type="tns:ArrayOfEntrada" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Entrada" nillable="true" type="tns:Entrada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Entrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESTINO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Enviar_CorreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Enviar_CorreoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Enviar_CorreoSoapIn">
    <wsdl:part name="parameters" element="tns:Enviar_Correo" />
  </wsdl:message>
  <wsdl:message name="Enviar_CorreoSoapOut">
    <wsdl:part name="parameters" element="tns:Enviar_CorreoResponse" />
  </wsdl:message>
  <wsdl:portType name="EnvioMailSoap">
    <wsdl:operation name="Enviar_Correo">
      <wsdl:input message="tns:Enviar_CorreoSoapIn" />
      <wsdl:output message="tns:Enviar_CorreoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioMailSoap" type="tns:EnvioMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar_Correo">
      <soap:operation soapAction="http://WS_MailServerTransporte/Enviar_Correo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioMailSoap12" type="tns:EnvioMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar_Correo">
      <soap12:operation soapAction="http://WS_MailServerTransporte/Enviar_Correo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioMail">
    <wsdl:port name="EnvioMailSoap" binding="tns:EnvioMailSoap">
      <soap:address location="http://222.1.60.66/WS_MailServerTransport/EnvioMail.asmx" />
    </wsdl:port>
    <wsdl:port name="EnvioMailSoap12" binding="tns:EnvioMailSoap12">
      <soap12:address location="http://222.1.60.66/WS_MailServerTransport/EnvioMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>